.btn-white {
  background: #ffffff;
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  border: solid #000000 2px;
  text-decoration: none;  
  cursor:pointer;
}

.btn-shido {
  background: #ffff00;
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #ff0000;
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  border: solid #000000 2px;
  text-decoration: none;  
  cursor:pointer;
}