body{ 
	font-family: roboto;
 }

.info{ 
	background-color: #c1c2cc;  
	color: #26a034;
	height:7vh; 
	width: 101.2%; 
	margin-left: -10px;
	margin-top:-10px;
 } 


.fighter1{ 
	background-color: #565fff; 
	color: white; 
	width: 101.2%; 
	margin-left: -10px; 
	height: 35vh; 
	border: solid 1px;
 }  

 .fighter2{ 
 	width: 101.2%; 
	margin-left: -10px;
	height: 35vh; 
	border: solid 1px; 
	border-top:none;
 } 

 .times{ 
 	background-color: #26a034; 
	height:23vh; 
	width: 101.2%; 
	margin-left: -10px;
	margin-top:-10px;
  } 

 .label{ 
 	font-size: 40pt; 
 	margin-left:0.5em;
  } 

  .number{ 
  	font-size: 150pt; 
  	margin-left: 15px;
   }

  .wazari{ 
  	margin-left:110vh;  
  	position:relative; 
  	width:10px;
  	margin-top:-4vh;
   } 

   .ippon{  
   		position:relative;
   		margin-top:-34vh; 
   		margin-left:50vh;
    } 

    .shido{ 
    	position:relative;
   		margin-top:-270px; 
   		margin-left:150vh; 
   		background-color: #ffff00; 
   		color:#ff0000; 
   		border: solid 2px;
   		width:115px;
   } 

   #shi1{
    margin-left:2px !important;
   }  

   #shi2{
    margin-left:2px !important;
   }  

   .full{ 
    float:right; 
    margin-right:2em; 
    margin-top:15px; 
    cursor:pointer;
    } 

    .disp{ 
      margin-right:-10px;
     }

     #runner{ 
      font-size: 85pt; 
      font-weight: bolder;
     }

     #okTime{
      font-size:55pt;
      padding-left:8em;
     }

     .Tlabel{
      font-size: 17pt;
     } 

     .fighttime{
      padding-top:60px;
      padding-left:50em;
     }

     .oase{
        margin-left:180vh; 
        position:relative; 
        width:10px;
        margin-top:-30vh;
     }

     .td{
      margin-left: 60px; 
      margin-top: -3em;
     } 

     .hidden{
      display: none;
     } 

     /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */ 
    height: 100%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.add{ 
  margin-left: 5em;
 }
 .remove1{
  margin-left: 5em;
 } 

 .image{
  margin-left:40em; 
 } 

 .matid{
  margin-top:1em;
 } 

 .mid{
  font-size: 60pt;
 }

 .fullscreen{
  margin-top:5em;
 }

 .appname{
  margin-top: -1em;
 }