body{ 
	font-family: roboto;
 }

.info{ 
	background-color: #c1c2cc;  
	color: #26a034;
	height:7vh; 
	width: 101.2%; 
	margin-left: -10px;
	margin-top:-10px;
 } 


.fighter1{ 
	background-color: #565fff; 
	color: white; 
	width: 101.2%; 
	margin-left: -10px; 
	height: 35vh; 
	border: solid 1px;
 }  

 .fighter2{ 
 	width: 101.2%; 
	margin-left: -10px;
	height: 35vh; 
	border: solid 1px; 
	border-top:none;
 } 

 .times{ 
 	background-color: #26a034; 
	height:23vh; 
	width: 101.2%; 
	margin-left: -10px;
	margin-top:-10px;
  } 

 .label{ 
 	font-size: 30pt; 
 	margin-left:0.5em;
  } 

  .number{ 
  	font-size: 60pt; 
  	margin-left: 15px;
   }

  .wazari{ 
  	margin-left:110vh;  
  	position:relative; 
  	width:10px;
  	margin-top:1vh;
   } 

   .ippon{  
   		position:relative;
   		margin-top:-16vh; 
   		margin-left:50vh;
    } 

    .shido{ 
    	position:relative;
   		margin-top:-80px; 
   		margin-left:150vh; 
   		background-color: #ffff00; 
   		color:#ff0000; 
   		border: solid 2px;
   		width:75px;
   }  

   .full{ 
    float:right; 
    margin-right:2em; 
    margin-top:15px; 
    cursor:pointer;
    } 

    .disp{ 
      margin-right:-10px;
     }

     #runner{ 
      font-size: 65pt; 
      font-weight: bolder;
     }

     .Tlabel{
      font-size: 17pt;
     } 

     .fighttime{
      padding-top:60px;
      padding-left:50em;
     }

     .oase{
        margin-left:180vh; 
        position:relative; 
        width:10px;
        margin-top:-18vh;
     }

     .td{
      margin-left: 50px;
     } 

     .hidden{
      display: none;
     }